DB_CONTAINER_NAME=unemployed_db
POSTGRES_DB=unemployed_db
POSTGRES_USER=unemployed_user
POSTGRES_PASSWORD=unemployed_pass

DB_EXTERNAL_PORT=5432
BACKEND_EXTERNAL_PORT=8000
FRONTEND_EXTERNAL_PORT=5173
